categories/__pycache__/__init__.cpython-37.pyc
categories/__pycache__/admin.cpython-37.pyc
categories/__pycache__/forms.cpython-37.pyc
categories/__pycache__/models.cpython-37.pyc
.vscode/settings.json
categories/__pycache__/views.cpython-37.pyc
categories/__pycache__/urls.cpython-37.pyc
categories/migrations/__pycache__/__init__.cpython-37.pyc
categories/migrations/__pycache__/0001_initial.cpython-37.pyc
encrypted/__pycache__/__init__.cpython-37.pyc
encrypted/__pycache__/settings.cpython-37.pyc
encrypted/__pycache__/urls.cpython-37.pyc
encrypted/__pycache__/views.cpython-37.pyc
encrypted/__pycache__/wsgi.cpython-37.pyc
login/__pycache__/__init__.cpython-37.pyc
login/__pycache__/admin.cpython-37.pyc
login/__pycache__/forms.cpython-37.pyc
login/__pycache__/models.cpython-37.pyc
login/__pycache__/urls.cpython-37.pyc
login/__pycache__/views.cpython-37.pyc
